/* lte IE 9 style*/
.nav > li.nav-search > form {
	border-radius: 3px 0px 0px 3px;
	position: relative;
}

.nav > li.nav-search input[type="submit"] {
	border-radius: 0 3px 3px 0;
	position: relative;
}

@media only screen and (min-width : 641px) { }