body {
    background-color:#EBEBEB;
    color:#666666;
    font:13px/157% "Trebuchet MS", sans-serif;
    letter-spacing:0px;
    text-align:center;
    padding-left:5px;
    padding-right:5px;
}
body ul {
    list-style-type: none;
    padding-left:0px;
}
body img {
    max-width: 100%;
    height:auto;
}
body h1 {
    font-size: 42px;
    font-weight: bold;
    color: #333333;
    line-height: 120%;
}
body h2 {
    color: #616161;
    font-size: 26px;
    font-weight: normal;
    line-height: 100%;
}
body h3 {
    color: #515151;
    font-size: 20px;
    font-weight: normal;
    line-height: 100%;
}
body p {
    font-size: 13px;
    color: #828282;
}
body a {
    color: #0066FF;
    font-weight: normal;
    text-decoration: none;
    font-size: 14px;
}
body a:active, body a:hover {
    color: #0066FF;
    text-decoration: underline;
}
body a:hover {
    text-decoration: none;
}
body h1, h2, h3, h4, p, a, span {
    font-family:"Trebuchet MS", sans-serif;
}
.main_wrapper {
    background-color:#FFFFFF;
    margin-top:30px;
    margin-bottom:50px;
    border-top-style:solid;
    border-right-style:solid;
    border-bottom-style:solid;
    border-left-style:solid;
    border-top-color:#E0E0E0;
    border-right-color:#E0E0E0;
    border-bottom-color:#E0E0E0;
    border-left-color:#E0E0E0;
    border-width:5px;
    margin-left:auto;
    margin-right:auto;
}
.logo {
    padding-top:10px;
    padding-bottom:10px;
}
.navigation {
    float: none;
    min-height: 100px;
    width: auto;
    margin-left: 0px;
}
.search_nav {
    clear: both;
    min-height: 100px;
    width: auto;
    text-align: right;
    padding-right: 35px;
    padding-top: 27px;
    height: auto;
}
/*search block*/
 .nav li {
    list-style: none;
}
/* Menu Container */
 .nav {
    display: inline-block;
    position: relative;
    cursor: default;
    z-index: 500;
}
/* Search Form */
 .nav > li.nav-search > form {
    position: relative;
    width: inherit;
    height: 40px;
    z-index: 510;
    border-left: 1px solid #4b4441;
    border-radius: 3px 0px 0px 3px;
}
.nav > li.nav-search input[type="text"] {
    display: block;
    float: left;
    width: 0px;
    height: 10px;
    padding: 15px 0;
    line-height: 24px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: #999999;
    text-shadow: 0 0 1px rgba(0, 0, 0, .35);
    background: #372f2b;
    -webkit-transition: all .3s ease 1s;
    -moz-transition: all .3s ease 1s;
    -o-transition: all .3s ease 1s;
    -ms-transition: all .3s ease 1s;
    transition: all .3s ease 1s;
    -moz-text-shadow: 0 0 1px rgba(0, 0, 0, .35);
    -webkit-text-shadow: 0 0 1px rgba(0, 0, 0, .35);
}
.nav > li.nav-search input[type="text"]:focus {
    color: #fcfcfc;
}
.nav > li.nav-search input[type="text"]:focus, .nav > li.nav-search:hover input[type="text"] {
    width: 60px;
    padding: 15px 20px;
    -webkit-transition: all .3s ease .1s;
    -moz-transition: all .3s ease .1s;
    -o-transition: all .3s ease .1s;
    -ms-transition: all .3s ease .1s;
    transition: all .3s ease .1s;
}
.nav > li.nav-search input[type="submit"] {
    display: block;
    float: left;
    width: 20px;
    height: 40px;
    padding: 0 25px;
    cursor: pointer;
    border-radius: 0 3px 3px 0;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
    background-color: #372f2b;
    background-image: url(../images/search-icon.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.nav > li.nav-search input[type="submit"]:hover {
    background-color: #4b4441;
    background-repeat: no-repeat;
}
.hmenubar {
    display:none;
    overflow: hidden;
    text-align: center;
    font-size: 0px;
    letter-spacing: 0px;
    word-spacing: 0px;
    padding:0;
    margin:0;
}
.hmenubar li {
    margin:0;
    padding:0;
    position: relative;
    background: transparent;
}
.menubar_nav {
    padding-top: 30px;
    padding-left:30px;
}
.comment_with_button a {
    color: #FFFFFF;
}
.comment_with_button a:hover {
    color: #FFFFFF;
}
.comment_with_button {
    overflow: hidden;
    margin-top:0;
    margin-bottom:0;
    padding-top:40px;
    padding-bottom:10px;
    border-color:rgb(204, 204, 204);
    background-image:none;
    background-attachment:initial;
    background-origin:initial;
    background-clip:initial;
    background-color:#FFF;
    border-top-style:solid;
    border-right-style:solid;
    border-bottom-style:solid;
    border-left-style:solid;
    text-align:center;
    border-width:0px;
}
span.span3 {
    color: rgb(230, 85, 85);
    font:34px Arial, Helvetica, sans-serif;
}
.top_articles {
    background-color: #F5F5F5;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}
.top_article {
    padding:20px 10px;
    text-align:left;
}
.top_article:hover {
    background-color: #F0F0F0;
}
img.article_two_img {
    width: 100%;
    margin-bottom: 25px;
    height:167px;
}
.top_article h2 {
    margin: 0 0 15px 0;
    padding: 0 0 10px 0;
    border-bottom:0px solid rgb(232, 232, 232);
}
.top_article p {
    margin: 0 0 15px 0;
    padding: 0;
    text-align:justify;
}
a.article_two_btn {
    padding: 5px 0;
    font-size: 14px;
    text-decoration: none;
    display: inline-block;
    color:#4C4444;
    text-align:left;
}
a.article_two_btn:active {
    color: #F55831;
}
.about_us_unit_wrapper {
    width: auto;
    float: none;
    min-height:172px;
}
.about_us {
    float: none;
    width: auto;
    min-height: 150px;
    margin:0;
    padding: 25px;
}
.about_us h2 {
    margin-top: 0;
    margin-bottom: 21px;
}
.about_us p {
    font-size: 14px;
    text-align:justify;
    margin-bottom: 15px;
}
.about_us a {
    text-decoration: none;
    font-weight: bold;
}
a.read-more-footer {
    padding: 5px;
    text-decoration: none;
    display: inline-block;
    font-weight:normal;
    color:#4C4444;
    text-align:left;
}
a.read-more-footer:hover {
    color: #07617C;
}
.footer {
    background-color:#F5F5F5;
}
.copyright {
    cursor: default;
    padding-top:10px;
    padding-bottom:10px;
    margin-top:0;
    margin-bottom:0;
    padding-left:10px;
    padding-right:10px;
    min-height:10px;
}
.copyright p {
    font-size:12px;
}
.breadcrumbs {
    padding-top:10px;
    padding-bottom:10px;
    padding-left:10px;
    padding-right:10px;
    min-height:10px;
}
.breadcrumbs p {
    text-align: center;
}
p.footer_breadcrumb a {
    text-decoration: none;
    min-height: 58px;
    margin:0;
    padding: 5px;
    font-size: 13px;
}
p.paragraph {
    color:#4a4a4a;
}
p.footer_breadcrumb {
    margin-top:10px;
}
h1.heading1 {
    margin-bottom: 10px;
    margin-top:0em;
    font-weight:normal;
    font-size:43px;
    padding-top:5px;
    font-family:Arial, Helvetica, sans-serif;
}
span.span3 {
    font:34px Arial, Helvetica, sans-serif;
}
p.footer_breadcrumb a {
    text-decoration: none;
    min-height: 58px;
    padding: 5px;
    font-size: 13px;
    margin-top:0;
    margin-bottom:0;
    margin-right:0px;
    margin-left:0px;
}
p.footer_breadcrumb {
    margin-top:10px;
    margin-bottom:10px;
}
a.breadcrumb-item:hover {
    color: #E65555;
    text-decoration:underline;
}
p.footer_breadcrumb a.breadcrumb-item {
    color: #07617C;
}
a.privacy_policy:hover {
    text-decoration: underline;
}
@media only screen and (min-width : 641px) {
    body {
        text-align: left;
        padding-left:0;
        padding-right:0;
        min-width:990px;
    }
    body ul {
        list-style-type: disc;
    }
    body img {
        max-width: none;
        height:auto;
    }
    .main_wrapper {
        clear: both;
        min-height: 1585px;
        width: 970px;
        margin-right: auto;
        margin-left: auto;
        padding-right:0px;
        padding-left:0px;
        border-width:10px;
        padding-bottom:0px;
    }
    .header {
        clear: both;
        min-height: 155px;
    }
    .top_header {
        clear: both;
        min-height: 155px;
    }
    .logo {
        float: left;
        width: 218px;
        min-height: 113px;
        padding-left: 20px;
    }
    .navigation {
        float: left;
        min-height: 155px;
        width: 732px;
        height: auto;
    }
    .search_nav {
        min-height: 40px;
    }
    .menubar_nav {
        min-height: 55px;
    }
    .comment_with_button {
        min-height: 60px;
        width: 930px;
        text-align: center;
        padding:20px 20px 0 20px;
    }
    .content {
        clear: both;
        min-height: 1292px;
    }
    .top_article_unit_wrapper {
        width: 33.3%;
        float: left;
        min-height: 408px;
    }
    .top_article {
        padding-right: 20px;
        padding-left: 20px;
        min-height: 368px;
    }
    .about_us_unit_wrapper {
        width: 970px;
        float: left;
    }
    .about_us {
        min-height: 122px;
    }
    .footer {
        clear: both;
        min-height: 124px;
    }
    .copyright {
        margin-right:20px;
        padding-left: 20px;
        padding-right: 0px;
        min-height: 50px;
        float: left;
        width: 378px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .breadcrumbs {
        min-height: 50px;
        float: left;
        width: 542px;
        padding:40px 10px 40px 0;
    }
    .breadcrumbs p {
        text-align: right;
    }
    p.footer_breadcrumb a {
        margin-left: 0;
        margin-right: 0;
    }
    p.footer_breadcrumb {
        width: 542px;
        min-height:24px;
    }
    h1.heading1 {
        width: 669px;
        min-height:102px;
        margin-bottom:0em;
        float:left;
    }
    .hmenubar li {
        display: inline-block;
    }
}