/* lte IE 9 style*/
img.article_five_img {
	border-radius: 5px;
	position: relative;
}

a.article_five_btn {
	-pie-background: linear-gradient( top,#8AE2FF 0%,  #23C8FE 4%,  #01B6F1 98%);
	border-radius: 16px;
	position: relative;
}

a.article_five_btn:hover {
	-pie-background: linear-gradient( top,#8AE2FF 0%,  #01BDFC 4%,  #019FD3 98%);
	position: relative;
}

a.article_five_btn {
	position: relative;
}

@media only screen and (min-width : 641px) { }