/* lte IE 9 style*/
.nav > li.nav-search > form {
	border-radius: 3px 0px 0px 3px;
	position: relative;
}

.nav > li.nav-search input[type="submit"] {
	border-radius: 0 3px 3px 0;
	position: relative;
}

.ja-actions {
	border-radius: 4px;
	position: relative;
}

.jautocomplete-box {
	border-radius: 0 0 4px 4px;
	position: relative;
}

